body {
  background-image: url(../images/misc/error-background.jpg);
}

.row {
  background-color: white;
  opacity: 85%;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right: 10px;
}
